header img {
	display: block;
	margin: 0 auto;
	width: 30%;
}
#logo{
	padding: 1% 10% 5% 10%;
	font-size: 24px;
	width:80%;
	margin: 0 auto;
}

#portfolio {
	width: 50%;
	margin: 0 auto;
	font-size: 21px;
}

article img {
	width: 40%;
	display: block;
	margin: 5% 30% 1% 30%;
}

section img {
	width: 40%;
	margin: 5% 30% 1% 30%;
}

footer {
	background-size: cover;
	width: 100%;
	text-align: center;
	padding: 30px;
	background-color: black;
	color: white;
	font-family: Comic Sans MS;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-image: url("com390-final/linedpaper.jpg");
	background-size: cover;
}

h1 {
	font-size: 100%;
	font-family: Comic Sans MS;
	text-align: center;
}

#contact {
	display: block;
	font-family: Comic Sans MS;
	font-size: 24px;
	text-align:center;
}

#about {
	padding: 1% 10% 1% 10%;
	font-size: 24px;
	width:80%;
}

p {
	font-family: Comic Sans MS;
}

.portfolio img{
	width: 50%;
	display: block;
	margin: 0 auto;

}

.contact img{
	width: 50%;
	display: block;
	margin: 0 auto;
	padding: 30px;

}

ul{
	list-style-type: none;
}

.unlist {
	display: inline;
	padding: 0 10px;
	text-align: center;
	padding: 30px;
}


